header {
	height: 70px;
	background: white;
	border-bottom: 1px solid #CCCCCC;
	position: absolute;
	top: 0;
}

header .logo {
	background-image: url('../images/logo.png');
	background-repeat: no-repeat;
	background-size: contain;
	position: absolute;
	top: 0;
	left: 20px;
	height: 100%;
	width: 100%;/
}
