.filters {
	background: white;
	height: 70px;
	position: absolute;
	width: 100%;
	border: 1px solid #DDDDDD;
	border-radius: 4px;
}

button {
	font-size: 18px;
	background: #FF5A5F;
	color: #FFFFFF;
	height: 48px;
	position: absolute;
	width: 20%;
	border-radius: 4px;
	right: 30px;
	border: none;
}

div.locations {


.locations h3, .amenities h3 {
	font-weight: 600;
}
